// $main-blue:#14293a;
$main-blue:#2c3e4d;
$main-orange:#c75000;

body {
    box-sizing: border-box;
}

.my-navbar {
    // background-color: $main-blue !important;
    background-color: $main-orange !important;

    a {
        color: inherit;
        text-decoration: inherit;
    }
}

.my-pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    button {
        width: 100px;
        height: 30px;
        background-color: $main-blue;
        color: white;
        margin-left: 5px;

        &:hover {
            cursor: pointer;
            background-color: $main-orange;

        }

        &:disabled {
            background-color: rgba(88, 88, 88, 0.322);
        }

    }
}

.my-container {
    a {
        text-decoration: none;
    }

}

.my-card {

    img {
        width: 400px;
        height: 400px;
    }
}

.my-content {
    color: $main-orange;
}